body {
  background-color: #f5deb3;
  padding: 0em;
  font-family: "Lucida Sans Unicode";
  zoom: 90%;
}
.container {
  width: 50%;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  padding: 10px;
  width: 50%;
  margin-bottom: 1em;
}
/* button {
  margin: 2em 0;
  padding: 1em 4em;
  display: block;
} */

#instructor {
  padding: 1em;
  background-color: #fff;
  margin: 1em 0;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #826225;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #5f5d58;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example select {
  /* padding: 10px;
  float: left;
  height: 25px;
  padding: 2px;
  border-radius: 4px; */
  height: 42px;
  float: left;
  width: 2%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  background-color: rgb(207, 191, 154);
  cursor: pointer;
}

form.product input {
  width: 130px;
  height: 20px;
  padding: 2px;
  background-color: rgb(235, 229, 215);
  border-radius: 4px;
}

form.product input[id="wheatType"] {
  margin-left: 44px;
}

form.product input[id="origin"] {
  margin-left: 86px;
}

form.product input[id="harvestTime"] {
  margin-left: 32px;
}

form.product input[id="arrivalTime"] {
  margin-left: 40px;
}

form.product input[id="price"] {
  margin-left: 97px;
}

form.product input[id="flourType"] {
  margin-left: 51px;
}

form.product input[id="brand"] {
  margin-left: 88px;
}

form.product input[id="totalWeight"] {
  margin-left: 35px;
}

form.product input[id="flourArrivalTime"] {
  margin-left: 38px;
}

form.product input[id="flourPrice"] {
  margin-left: 95px;
}

form.product input[id="saltAmount"] {
  margin-left: 15px;
}

form.product input[id="yeastType"] {
  margin-left: 46px;
}

form.product input[id="breadTotalWeight"] {
  margin-left: 32px;
}

form.product input[id="breadType"] {
  margin-left: 45px;
}

form.product input[id="breadArrivalTime"] {
  margin-left: 35px;
}

form.product input[id="breadPrice"] {
  margin-left: 92px;
}
